.list-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

.list-content .button-wrapper {
    display: flex;
    gap: 20px;
}

.list-content .button-wrapper .button {
    width: 50%;
}

@media (max-width: 420px) {
    .list-content {
        padding: 7.1vw;
        gap: 7.1vw;
    }

    .list-content .button-wrapper {
        gap: 4.8vw;
    }
}