.list-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

@media (max-width: 420px) {
    .list-content {
        padding: 7.1vw;
        gap: 7.1vw;
    }
}