.list-item {
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #6b97b3;
}

.list-item .img-wrapper {
    cursor: pointer;
    width: 50%;
}

.list-item .img-wrapper img {
    width: 100%;
}

.list-item .content-wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    color: white;
    font-size: 16px;
    padding: 18px 0;
}

.list-item .menu-wrapper {
    font-size: 24px;
    color: white;
    padding: 15px;
}

.list-item .content-wrapper .name,
.list-item .content-wrapper .word,
.list-item .content-wrapper .created-at,
.list-item .content-wrapper .description {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.list-item .content-wrapper .name {
    font-size: 24px;
    font-weight: bold;
}