.list-item {
    display: flex;
    border-radius: 5px;
    border: 1px solid #6b97b3;
}

.list-item .img-wrapper {
    cursor: pointer;
    width: 50%;
}

.list-item .img-wrapper img {
    width: 100%;
}

.list-item .content-wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    color: white;
    font-size: 16px;
    padding: 18px 0;
}

.list-item .content-wrapper .progress-bar-container {
    display: flex;
    height: 1.5%;
    width: 100%;
    background-color: black;
}

.list-item .content-wrapper .progress-bar-container .progress-bar {
    display: flex;
    width: 100%;
}

.list-item .content-wrapper .progress-bar-container .progress-bar .progress-known {
    background-color: #2196f3;
}

.list-item .content-wrapper .progress-bar-container .progress-bar .progress-partial {
    background-color: #607d8b;
}

.list-item .content-wrapper .progress-bar-container .progress-bar .progress-unknown {
    background-color: black;
}

.list-item .menu-wrapper {
    font-size: 24px;
    color: white;
    padding: 15px;
}

.list-item .content-wrapper .name,
.list-item .content-wrapper .word-status,
.list-item .content-wrapper .created-at,
.list-item .content-wrapper .description {
    color: #ccc;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.list-item .content-wrapper .name {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #343434;
}

@media (max-width: 420px) {
    .list-item .content-wrapper {
        gap: 2.4vw;
        flex-grow: 1;
        font-size: 3.8vw;
        padding: 4.3vw 0;
    }

    .list-item .menu-wrapper {
        font-size: 5.7vw;
        padding: 3.6vw;
    }

    .list-item .content-wrapper .name {
        font-size: 4.8vw;
        padding-bottom: 2.4vw;
    }
}