.edit-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

.edit-content .input-sample {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
}

.edit-content .no-more-fields {
    color: white;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 420px) {
    .edit-content {
        padding: 7.1vw;
        gap: 7.1vw;
    }

    .edit-content .input-sample {
        font-size: 3.8vw;
    }

    .edit-content .no-more-fields {
        font-size: 3.8vw;
    }
}