.edit-field {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    color: white;
}

.edit-field .count {
    width: calc(10% - 5px);
    padding: 5px 0;
}

.edit-field input {
    font-family: "Nanum Gothic", "Noto Sans JP", serif;
    font-weight: 300;
    display: inline-block;
    box-sizing: border-box;
    width: calc(30% - 5px);
    background: #171717;
    color: white;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #343434;
    border-radius: 0;
}

.edit-field input:focus {
    outline: none;
}