.voca-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

.voca-content .word-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.voca-content .word-wrapper div {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.voca-content .word-wrapper .word-kana,
.voca-content .word-wrapper .meaning {
    font-size: 24px;
    height: 36px;
    line-height: 36px;
}

.voca-content .word-wrapper .word-kanji {
    font-size: 48px;
    height: 96px;
    line-height: 96px;
}

.voca-content .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.voca-content .menu-wrapper .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.voca-content .menu-wrapper .button-wrapper .button {
    width: 30%;
}

@media (max-width: 420px) {
    .voca-content {
        padding: 7.1vw;
        gap: 7.1vw;
    }

    .voca-content .word-wrapper .word-kana,
    .voca-content .word-wrapper .meaning {
        font-size: 5.7vw;
        height: 8.6vw;
        line-height: 8.6vw;
    }

    .voca-content .word-wrapper .word-kanji {
        font-size: 11.4vw;
        height: 22.9vw;
        line-height: 22.9vw;
    }

    .voca-content .menu-wrapper .prev-word,
    .voca-content .menu-wrapper .next-word {
        font-size: 5.7vw !important;
    }

    .voca-content .menu-wrapper .button-wrapper {
        gap: 2.4vw;
    }
}
