.button {
    font-family: "Nanum Gothic", "Noto Sans JP", serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 9999px;
    background: linear-gradient(135deg, #b3e0fc -0.69%, #6b97b3 99.31%);
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    white-space: nowrap;
}

.button-light {
    background: #171717;
    color: #b3e0fc;
    outline: 1px solid #b3e0fc;
}

.button:hover {
    background: linear-gradient(135deg, #9cc8e3 -0.69%, #5a8199 99.31%);
}

.button-light:hover {
    background: #1e1e1e;
    outline: 1px solid #b3e0fc;
}

@media (max-width: 420px) {
    .button {
        padding: 2.4vw;
        font-size: 3.8vw;
    }
}