.button {
    outline: none;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6b97b3;
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
}

.button-light {
    background-color: #171717;
    color: white;
    border: 1px solid #6b97b3;
}