.input-field {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.input-field input {
    display: inline-block;
    box-sizing: border-box;
    width: calc(30% - 5px);
    background: #171717;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}

.input-field input:focus {
    outline: none;
}